<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Users Management System</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="topnav">
  <a class="active" th:href="@{/main-page}">Home</a>
  <a th:href="@{/tasks}">Tasks List</a>
  <a th:href="@{/categories}">Categories List</a>
  <a th:href="@{/viewProfile/{id}(id=${user.userId})}">View Profile</a>
  <a class="logout-btn" th:href="@{/login}">Log Out</a>
</div>
<div class="container my-2">

  <div class="header-container">
    <h1>Users List</h1>
  </div>

  <table border="1" class="table table-bordered" >
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Create Date</th>
        <th>Tasks</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${listUsers}">
      <td th:text="${user.userId}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.createdAt}"></td>
      <td>
        <ul>
          <th:block th:each="task : ${user?.tasks}">
            <li><a th:href="@{/viewTask/{id}(id=${task.taskId})}" th:text="${task.title}" class="btn btn-primary"></a></li>
          </th:block>
        </ul>
      </td>
      <td>
        <a th:href="@{/showFormForUpdate/{id}(id=${user.userId})}" class="btn btn-primary">Update</a>
        <a href="#" onclick="confirmDelete(this)" th:data-url="@{/deleteUser/{id}(id=${user.userId})}" class="btn btn-primary">Delete</a>

      </td>
    </tr>
    </tbody>
  </table>
</div>


<!--MESSAGE TO CONFIRM DELETION-->
<script>
  function confirmDelete(element) {
    const url = element.getAttribute('data-url');
    if (confirm("Are you sure you want to delete this user?")) {
      window.location.href = url;
    }
  }
</script>

</body>

</html>