<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="topnav">
    <a th:href="@{/viewProfile/{id}(id=${user.userId})}">View Profile</a>
    <a class="logout-btn" th:href="@{/login}">Log Out</a>
</div>
<div class="container my-2">

    <div class="header-container">
        <h1>Welcome!</h1>
    </div>
    <div>
        <a th:href = "@{/tasksUser}" class="btn">Tasks List</a>
    </div>
</div>
</body>
</html>