<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="topnav">
  <a class="active" th:href="@{/main-page}">Home</a>
  <a th:href="@{/users}">Users List</a>
  <a th:href="@{/tasks}">Tasks List</a>
  <a th:href="@{/categories}">Categories List</a>
  <a class="logout-btn" th:href="@{/login}">Log Out</a>
</div>
<div class="container">

  <div class="header-container">
    <h1> Update User </h1>
  </div>
  <hr>
  <form action="#" th:action="@{/saveUser}" th:object="${user}" method="POST" enctype="multipart/form-data">
    <input type="hidden" th:field="*{userId}" />
    <input type="file" name="profilePhotoFile" class="form-control mb-4 col-4">
    <input type="text" th:field="*{username}" placeholder="Username" class="form-control mb-4 col-4">
    <input type="password" th:field="*{password}" placeholder="Password" class="form-control mb-4 col-4">
    <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">
    <button type="submit" class="btn btn-info col-2">Update User</button>
  </form>




<!--  <form action="#" th:action="@{/saveUser}" th:object="${user}" method="POST" enctype="multipart/form-data">-->
<!--    <input type="hidden" th:field="*{userId}" />-->
<!--    <input type="file" name="profilePhoto" class="form-control mb-4 col-4">-->
<!--    <input type="text" th:field="*{username}" placeholder="Username" class="form-control mb-4 col-4">-->
<!--    <input type="text" th:field="*{password}" placeholder="Password" class="form-control mb-4 col-4">-->
<!--    <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">-->
<!--    <button type="submit" class="btn btn-info col-2">Update User</button>-->
<!--  </form>-->


</div>
</body>
</html>